{% extends 'base.html' %}

{% block content %}
<p style="margin-top: 10rem;" id="loja">
    Loja<br>
    R. Sete de Setembro, 808<br>
    Centro - Limeira/SP<br><br>
    <span class="material-symbols-outlined">
        call
    </span>
    <a class="link" href="https://web.whatsapp.com/send?phone=5519992599837" target="_blank">
        (19) 99259-9837
    </a>        
    <a class="link" href="https://web.whatsapp.com/send?phone=5519992599837" target="_blank">
        (19) 3704-5872
    </a>
    <a class="link" href="https://web.whatsapp.com/send?phone=5519992599837" target="_blank">
        (19) 98151-5645
    </a>
    <a class="link" href="https://web.whatsapp.com/send?phone=5519992599837" target="_blank">
        (19) 98151-5645
    </a><br><br><br><br>
    <span class="material-symbols-outlined">
        mail
    </span>
    <a class="link" href ="mailto: redmotosloja@gmail.com">
        redmotosloja@gmail.com
    </a>
</p>
{% endblock content %}