{% extends 'base.html' %}

{% block content %}
    <h1>Quem somos</h1>
    <p id="desc">
        A Red Motos atua no mercado de seminovos, oferecendo sempre as melhores ofertas de 
        seminovos para você. Trabalhamos somente com veículos de procedência que passam por 
        um rigoroso controle de qualidade e checagem completa no histórico. Pensou em comprar 
        seminovo? Pensou Red Motos. Sua próxima moto está aqui!
    </p>
    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.4499419166073!2d-47.408770423766875!3d-22.562269025651084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8808b4735f387%3A0x5b95f5a4592ef2db!2sR.%20Sete%20de%20Setembro%2C%20808%20-%20Centro%2C%20Limeira%20-%20SP%2C%2017120-011!5e0!3m2!1spt-BR!2sbr!4v1687050746765!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <p id="loja">
        Loja<br>
        R. Sete de Setembro, 808<br>
        Centro - Limeira/SP<br><br>
        <span class="material-symbols-outlined">
            call
        </span>
        <a class="link" href="https://web.whatsapp.com/send?phone=5519992599837" target="_blank">
            (19) 99259-9837
        </a>        
        <a class="link" href="https://web.whatsapp.com/send?phone=5519992599837" target="_blank">
            (19) 3704-5872
        </a>
        <a class="link" href="https://web.whatsapp.com/send?phone=5519992599837" target="_blank">
            (19) 98151-5645
        </a>
        <a class="link" href="https://web.whatsapp.com/send?phone=5519992599837" target="_blank">
            (19) 98151-5645
        </a><br><br><br>
        <span class="material-symbols-outlined">
            mail
        </span>
        <a class="link" href ="mailto: redmotosloja@gmail.com">
            redmotosloja@gmail.com
        </a>
    </p>
{% endblock content %}